@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#footer {
    border-top: 1px solid #000000;
    text-align: center;
    min-height: 0px;
    bottom: 1px;
    
}
img{
  height: 39px;
  position: absolute;
  left: 35px;
  top: 15px;
}
body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #e3dac9;
    font-family: 'Bebas Neue', sans-serif;;
  }
  .grid-container {
    position: center;
    display: grid;
    row-gap: white;
    text-align: center;
    font-size: 30px;
    color: white;
    
    grid-template-columns: auto auto auto auto auto;
  }
  a{
    text-decoration: none;
    
  }
 
  
  header {
    position: sticky;
    top: 0;
    background-color: #000000;  
    text-align: center; 
  }

h1 {
    font-size: 50px;
    color: white;
    margin: 5px;


}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
  font-size: 20px;
  text-align: center;
}
p{
    text-align: center;
  
}


.button1 {
    
    border-radius: 30%;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 0.5%;
    font-size: 30px;
    font-family: "Bebas Neue", serif;
    margin-right: 80%;
    margin-top: 1%;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
   
}

.button1:hover{
    color: aqua;

}
a{
    color: white;
}

.material-symbols-outlined {
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 408
}
form{
  text-align: center;
}


